.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: -20px;
  width: 40px;
}

#logo img {
  width: 130px;
  margin-left: 154px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #000000;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;

  /* background: url(dimension.png); */
}
table{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

table thead{
  color: #000000;
}

#project {
  float: right;
  text-align: right;
  width: 52px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  margin-top: 20px;
  /* font-weight: bold; */
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 40px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  margin-top: 20px;
  /* font-weight: bold; */
  float: left;
  text-align: left;
  
}

#project div,
#company div {
  white-space: nowrap;    
      
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}