<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>
    
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="assets/laporan/asd.jpg" style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>
                                The Melted<br>
                                Make Your Mood<br>
                                Be Better
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Instragram  : @themeltedd<br>
                                Whatsapp    : +62 895-3664-39266<br>

                            </td>
                            
                            <td>
                                Kota Kediri<br>
                                Kediri, Jawa Timur<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <table>
                <thead>
                    <tr>
                        <th style="width: 20px;">NAMA PRODUK</th>
                        <th style="width: 10px;">KATEGORI</th>
                        <th style="width: 10px;">BERAT</th>
                        <th style="width: 10px;">HARGA</th>
                    </tr>
                </thead>
                <tbody>
                @foreach ($products as $pro)
                <tr>
                    <td>{{$pro->name}}</td>
                    <td>{{$pro->nama_kategori}}</td>
                    <td>{{$pro->weigth}}</td>
                    <td>{{$pro->price}}</td>
    
                </tr>
                @endforeach
                </tbody>
            </table>
            
            
        </table>
    </div>
</body>
</html>
